/* --------------------------------
         *   VARIABLES
-------------------------------- */

//? variables background:
$black: #2c2c2c;
$gray: #5e5e5e;
$red: #de0f0f;

//? variables background:
$body: #F2F2F2;
$footer: #263B40;
$btn: #D96055;
$bg_jolly: #AEBCBF;
$table: #fff;

//? colori text:
$h_1: #BF0404;
$h_2: #F2F2F2;
$h_3: #263B40;
$text1: #2c2c2c;
$text2: #F2F2F2;
$text3: #263B40;

//? shodow:
$shodow: #000;
$alpha: .3;

//? bottoni:
$create: #263B40;
$back: #263B40;
$show: #0066ff;
$edit: #ffcc00;
$delete: #D96055;

//? background color:
.bg-body {background-color: $body;}
.bg-footer {background-color: $footer;}
.bg-btn {background-color: $btn;}
.bg-jolly {background-color: $bg_jolly;}
